:root {
  --boxcolor: grey;
  --maincolor: rgb(40, 241, 177);
}

body {
  background-color: #d1cece;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: sans-serif;
}

.bgrad {
  background-image: linear-gradient(to right, grey, rgb(40, 241, 177), white)
}

#header {
  height: 120px;
  position: relative
}

.section {
  display: flex;
  flex-direction: row;
}


.section2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

nav {
  background-image: linear-gradient(to right, grey, rgb(40, 241, 177), white);
  height: 60px;
  position: relative;
}

nav h1 {
  background-color: #fff;
  padding: 6px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 20px;
  right: 60px;
}

a {
  /* display: flex; */
  text-decoration: none;
  text-align: center;
  width: 80px;
  margin-left: 4px;
  border: 2px solid var(--boxcolor);
  border-radius: 5px;
  color: black;
  /* border-image: linear-gradient (white, rgb(40, 241, 177), grey); */
}


  #nick {
  display: inline;
  border-radius: 10px;
  background-color: var(--maincolor);
  position: relative;
  top: 16px;
  left: 20px;
  box-shadow: 4px 4px 10px; 
}

#bannerImage{
  height: 100%;
  width: 100%;
}

#h1Alt {
  display: flex;
  justify-content: center;
  width: 150px;
  position: absolute;
  right: 75px;
  bottom: 0px;
  margin: 0px;
  background-color: var(--maincolor);

}


.aboutMe {
  display: flex;
  align-items: flex-end;
  margin-bottom: 90px;
  margin-right: 100px;
}

.container {
  display: flex;
  flex: wrap;
  justify-content: space-evenly;
  position: relative;

}

.container2 {
  display: flex;
  flex: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  position: relative;

}

.aboutMeText {
  display: flex;
  width: 200px;
  justify-content: flex-end;
  position: relative;
  margin-right: 100px;
  border: black;
}

#work {
  border: solid black 2px;
  width: 400px;
  height: 500px;
}

#workText {
  display: flex;
  width: 200px;
  position: relative;
  margin-right: 100px;
  border: black;
  align-items: center;
}

button:hover {
  background-color: blue;
  opacity: 90%;
}

button {
  background-image: url(C:\Users\nickb\css-portfolio\assets\images\computer-lab-icon-2.jpg);
  background-size: cover;
  width: 300px;
  height: 200px;
  font-size: 2rem;
}

@media screen and (max-width: 992px) {
  nav {
    width: 100%;
    justify-content: flex-end;
  }
}
