:root {
  --boxcolor: grey;
  --maincolor: rgb(40, 241, 177);
}

body {
  background-color: rgb(209, 206, 206);
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: sans-serif;
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

section {

}

/* border-radius: 25px;
background: #73AD21;
padding: 20px;
width: 200px;
height: 150px; */

nav {
  background-image: linear-gradient(to right, grey, rgb(40, 241, 177), white);
  height: 60px;
  position: relative;
  bottom: 0;
}

nav h1 {
  background-color: #fff;
  padding: 6px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 20px;
}

a {
  text-decoration: none;
  text-align: center;
  width: 80px;
  border: 2px solid var(--boxcolor);
  border-radius: 20px;
  color: black;
}


  #nick {
  display: inline;
  border-radius: 24px;
  background-color: var(--maincolor);
  position: relative;
  top: 16px;
  left: 20px;
  box-shadow: 4px 4px 10px; 
}

#h1Alt {
  display: inline;
  justify-content: center;
  background-color: var(--maincolor);
}

/* .container {
  display: flex;
  flex: wrap;
} */

.aboutMe p {
  justify-content: center;
  margin-bottom: 5%;
  margin-left: 12%;
  margin-right: 12%;
}